<h1><%= @group.name %></h1>

<ul class="teamlist">
<% @group.teams.each do |team| %>
  <li><%= image_tag 'http://img.uefa.com/imgml/flags/70x70/' + team.code + '.png' %>  <%= link_to(team.name, team_path(team.id)) %></li>
<% end %>
</ul>