.nav li
{
    font-size: 27px;
    display: inline-block;
    background-color: #383747;
}
html
{
    background: #f7f6f6 url('background.png') repeat;
}
body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nav a:link,
a:visited
{
    font-weight: bold;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #383747;
}
.nav a:hover,
a:active
{
    text-decoration: none;
    border-radius: 30px;
    background-color: #7a991a;
}
.container
{
    width: 1000px;
    height: 76px;
    margin-left: 115px;
}
.logo
{
    float: left;
}
.nav
{
    float: right;
}
.container
{
    background-color: #383747;
}
#info li,
.chooseteam h1,
h2,
h3
{
    list-style-type: none;
    text-align: center;
}
#gk
{
    margin-left: 43%;
}
.defenders
{
    margin-left: 20.5%;
}
.midfielders
{
    margin-left: 17%;
}
.strikers
{
    margin-left: 37%;
}
#teamSubmit
{
    margin-left: 45.5%;
}
